a:link {
    color: green;
}

a:visited {
    color: purple;
}

a:active {
    color: red;
}

a:hover {
    cursor: progress;
    background-color: aqua;
}

#selected:focus {
    background-color: pink;
}

.box1 p:nth-child(2) {
    color:salmon;
}

.box1 p:nth-child(odd) {
    color: deepskyblue;
}

.box2 p:nth-child(odd) {
    color: forestgreen;
}

h2:first-child {
    background: green;
}

p:last-child {
    background: purple;
}