/* Global styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

nav li {
    margin-left: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Link styles */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}