.container div {
    height: 75px;
    width: 75px;
    background: yellowgreen;
    color: red;
    transition: 2s;
}
 
#div1 {
    transition-timing-function: linear;
}
 
#div2 {
    transition-timing-function: ease;
}
 
#div3 {
    transition-timing-function: ease-in;
}
 
#div4 {
    transition-timing-function:ease-out;
}
 
.container:hover div{
    margin-left: 500px;
}
