<!--==========Banner Section==========-->

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Amazing Store for RMIT-ers</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">The RMIT Store is inspired by the idea of American College campus stores. Our vision is
            to contribute to a rich student experience, where branded merchandise is essential to building
            connection within the University’s community and alumni.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="#pricing" class="nav-link"><button type="button"
                    class="btn btn-primary btn-lg px-4 me-sm-3">Products</button></a>
            <a href="/order-page" class="nav-link"><button type="button" class="btn btn-danger btn-lg px-4">Order
                    Now!</button></a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 50vh;">
        <div class="container px-5">
            <img src="/images/slider.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
                width="700" loading="lazy">
        </div>
    </div>
</div>
<!--==========Banner Section==========-->