h1{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


p{
    font-family: 'Merriweather', serif;
    font-size: 10px;
}
