.my-button {
    background: #3498db;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 15px;
}

.my-button:hover {
    background: #e600ff;
}


