/* YOUR STYLE GOES IN HERE */
.card {
    width: 250px;
    border: 3px solid #FFBFA9;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.card img {
    width: 200px;
    border: 6px solid #FBFFB1;
    border-radius: 50%; 
    background-color: #FFACAC;
}