<!DOCTYPE html>
<html>
  <head>
    <title>Create Product</title>
  </head>
  <body>
    <h1>Welcome to product dashboard!</h1>
    <ul>
        <li>
            <a href="/products">View all products</a>
        </li>
        <li>
            <a href="/product/new">Create a product</a>
        </li>
    </ul>
  </body>
</html>